@import "libs";
@import "reset";
@import "fonts";
@import "vars";
@import "mixins";

        .container {
            width: 100%;
            padding-right: 15px;
            padding-left: 15px;
            margin-right: auto;
            margin-left: auto;
            max-width: 1140px;
        }
        
.header {
    width: 100%;
    //padding: 50px 150px;
    padding: 50px 0px;
    position: absolute;
    top: 0px;
    z-index:1;
}
.header_wrap {
   height:112px;
    position: relative;
    display: flex;
    align-items: center;
      a {
        display: block;
        float: left;
        font: bold $fs_16 $default-font;
        color: $w;
        margin-left:20px;
        margin-right:20px;
        text-decoration: none;
        transition: 0.25s ease-in-out;
        border-bottom: 3px solid transparent;
        &:hover {
            border-bottom:3px solid $light-blue-text;
        }
        /*&:last-child {
            margin-right: 0px;
        }*/
    }
}
.link_logo { 
    /*width: 338px;
    height: 112px;
    display: block;
    position: absolute;
    left:50%;
    transform: translate(-50%,0);*/
    border-bottom: none !important;
    img {
        max-width:100%;
        user-select: none;
    }
}
/* ===== Слайдер ===== */
#carousel {
    height: 100vh;
    min-height: 550px;
    position: relative;
}
.gallery {
    height: 100vh;
    min-height: 550px;
    overflow: hidden;
    .wrap {
        width: 500vw;
        position: relative;
        right: 0vw; // ДЛЯ СЛАЙДЕРА     
        img {
            float: left;
            width: 100vw;
            position: absolute;
            top: 0;
            user-select: none;
            -ms-user-select: none;
        }
        .slide_1 {left:0vw;}
        .slide_2 {left:100vw;}
        .slide_3 {left:200vw;}
        .slide_4 {left:300vw;}
        .slide_5 {left:400vw;}
    }
}
.gallery_navigator {
    position: absolute;
    left:50%;
    transform: translate(-50%,0);
    bottom: 50px;
    .gallery_navigator_item {
        width: 25px;
        height: 25px;
        //padding: 10px;       
        float:left;
        border: 5px solid $w;
        border-radius: 50%;  
        margin-right: 20px;
        cursor: pointer;
        box-sizing: content-box;
        transition: 0.25s ease-in-out;
        &:hover {
            border: 5px solid rgba(120,214,210,0.9);     
        }
        &:last-child {
            margin-right: 0px;
        }
    }
    .navigator_item-active{
        border: 5px solid $light-blue;
        &:hover {
            border: 5px solid $light-blue;
        }
    }
}
//Catalog programs
.name-catalog {    
    height: 100px;
    padding: 35px 0;
    text-align: center;
}
.main-programs {
    height: auto;
    background-color: $light-grey;
}
.name-catalog_program_text {
    height: 50px;
    margin: 35px 0;
    text-align: center;
    color: $purple;
    font: 800 $fs_36 $default-font;
}

.main-programs_container_programs {
    width: 100%;
    height: 490px;
}
.main-porgrams_wrap {
    overflow: hidden;
}
.main-programs_container_programs_image {
    display: block;
    width: 50%;
    height: 400px;
    position: relative;
    float: left;
}

.main-programs-one_wrapper_content .main-programs_container_programs_content, .main-programs-three_wrapper_content .main-programs_container_programs_content {
    width: 50%;
    display: block;
    float: left;
    height: 100%;
    padding-left: 100px;
    position: relative;
}

.main-programs-two_wrapper .main-programs_container_programs_fix-image, .main-programs-four_wrapper .main-programs_container_programs_fix-image {
    float: left;
}

.main-programs-two_wrapper .main-programs_description_text, .main-programs-four_wrapper .main-programs_description_text{ color: $w; }
.main-programs-two_wrapper .main-programs_header_text, .main-programs-four_wrapper .main-programs_header_text{ color: $w; }
.main-programs_container_programs_content {
    padding: 0 100px 0 0;
}
.container_programs_content_right {
    padding-right: 0 !important;
}
.container_programs_content_left {
    padding-left: 0 !important;
}
.main-programs-two_wrapper .main-programs_button_text,.main-programs-four_wrapper .main-programs_button_text{ color: $w; border: 5px solid $w;}
.main-programs_button_text {
    color: $w;
    border: 5px solid $w;
    &:hover, &:focus {
        color: $light-blue_text;
        border: 5px solid $light-blue_text;
    }
}  
.main-programs-two_wrapper, .main-programs-four_wrapper {
    .main-programs_header:after {
        content: '';
        border-bottom: 2px solid white;
        width: 40%;
        position: absolute;
        padding-top: 10px;
    }
}

.main-programs-one_wrapper, .main-programs-three_wrapper {
    .main-programs_header:after {
        content: '';
        border-bottom: 2px solid #4d3f53;
        width: 40%;
        position: absolute;
        padding-top: 10px;
    }
}
    

.main-programs_container_programs_fix-image {
    width: 50%;
    height: 100%;
    float:left;
    a {
        display: block;
        height: 100%;
        float:left;
        img {
            display: block;
            width: 100%;
            //height: 100%;
            max-width: 100%;
            max-height: 100%;
        }
    }
}

.main-programs_header {
    text-align: left;
    margin-bottom: 24px;

}

.main-programs_header_text {
    padding: 0;
    margin: 0;
    font: bold $fs_30 $default-font;
    color: #4d3f53;
}

.main-programs_description_text {
    margin: 0 0 55px 0;
    padding: 0;
    color: #3c3c3c;
    font: $fs_16 $default-font;
    height: 130px;
    overflow: hidden;
}

.main-programs_description_text_transfer {
    display: block;
}

.main-programs_button {
    //display: inline-block;
    //width: 248px;
    //height: 50px;
    //border: 5px solid $w
    text-align: center;
    //height: 66px;
    display: inline;
    transform: translate(-50%,0);
}

.main-programs_button_text {
    text-decoration: none;
    color: #4d3f53;
    padding: 15px 45px;
    border: 5px solid #4d3f53;
    font: $fs_16 $default-font;
    text-align: center;
    outline: 0;
    display: inline-block;
    transition: 0.15s ease-in-out;
    &:hover, &:focus {
        color: $light-blue_text;
        text-decoration: none;
        border: 5px solid $light-blue_text;
    }
}
/*.main-programs-one_wrapper:after, .main-programs-two_wrapper:after, .main-programs-three_wrapper:after {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,100 100,0 100,100' style='fill:%23e6e6e6%3B' /%3E%3C/svg%3E");
    transform: scaleY(-1) scaleX(1);
    bottom: -6.5em;
    left: 0;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    content: '';
    display: block;
    height: 6.5em;
    position: absolute;
    width: 100%;
}*/

.main-programs-two_wrapper:before, .main-programs-four_wrapper:before {
    content: '';
    height: 6.5em;
    width: 100%;
    display: block;
    position: absolute;
    top: -6.5em;
    left: 0;
    transform: scaleY(1) scaleX(-1);
    background: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,100 100,0 100,100' style='fill:%234d3f53%3B' /%3E%3C/svg%3E") no-repeat;
    background-size: 100% 100%;
    box-shadow: inset 0 0px 0 0 #4d3f53, 0 1px 0 0 #4d3f53;
}
/*
.main-programs-three_wrapper:before {
    transform: scaleY(1) scaleX(1);
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,100 100,0 100,100' style='fill:%23e6e6e6%3B' /%3E%3C/svg%3E");
    box-shadow: inset 0 0px 0 0 #e6e6e6, 0 1px 0 0 #e6e6e6;
}*/

.main-programs-two_wrapper:after {
    content: '';
    position: absolute;
    bottom: -6.5em;
    left: 0;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,0 0,100 100,100' style='fill:%234d3f53%3B' /%3E%3C/svg%3E");
    transform: scaleY(-1) scaleX(1);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: block;
    height: 6.5em;
    width: 100%;
}

.main-programs-one_wrapper, .main-programs-three_wrapper {
    margin: 0 0 6.5rem 0;
    position: relative;
    background-color: #e6e6e6;
    min-height: 490px;
}

.main-programs-two_wrapper, .main-programs-four_wrapper {
    margin: 0 0 6.5rem 0;
    padding: 35px 0;
    position: relative;
    background-color: #4d3f53;
    min-height: 490px;
    color: $w;
}
.main-programs-three_wrapper {
    padding: 35px 0;
}
.main-programs-four_wrapper {
    margin: 0;
    min-height: 450px;
}
.main-programs-one_wrapper_content {
    height: 100%;
    margin: 0 180px;
}
// Блок материалы
.material-block {
    height: 500px;
    background-color: $dark-cyan;
}
.name-catalog_material {
    font: 800 $fs_36 $default-font;
    color: $w;
    line-height: 36px;
}
.material-block_elements {
    height: 300px;
    width: 1100px;
    margin: 0 auto;
}
.material-block_elem {
    width: 300px;
    height: 300px;
    float:left;
/*     padding: 50px; */
}
.material-block_elem_inside {
    height: 100%;
    position: relative;  
    font: bold $fs_30 $default-font;
}
.material-block_books {

}
.material-block_video {
    margin-left: 100px;
    margin-right: 100px;
}
.material-block_documents {

}
.material-block_image {
    border: 10px solid $w;
    border-radius: 20px;
    &:hover {border: 10px solid $purple;}
    transition: 0.25s ease-in-out;
    display:block;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    text-decoration: none;
    padding: 45px 30px;
    transition: .25s ease-in-out;
    img {
        height:100px;
        max-width: 100%;
        display: block;
        margin: 0 auto;
    }
    .material-block_header {
        display: block;
        text-align: center;
        margin-top: 25px;
/*         position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%,0); */
        font-size: 36px;
        color: $w;
        transition: 0.25s ease-in-out;
    }
}
.material-block_header-active{
    color: $purple !important;
}
.material-icon_active{
    position: static;
    display: block;
    opacity: 1;
}
.material-icon{
    position: absolute;
    display: none;
    opacity: 0;
}
// Написать нам


//footer
@import "footer";
@import "writetous";
@import "media"; 