@import "libs";
@import "reset";
@import "vars";
@import "mixins";
body {
    background: $body-bg;
    overflow: auto;
}
.header {
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 1;
}
#logo {
    position:absolute;
}
.search_field {
    width: 260px;
    position: relative;
}
#search_field_input {
    width: 260px;
    height: 36px;
    border:none;
    border-radius:3px;
}
#search_button {
    position: absolute;
    right: 10px;
    top:3px;
}
/* ===== Слайдер ===== */
#carousel {
    height: 100vh;
    position: relative;
}
.gallery {
    height: 100vh;
    overflow: hidden;
    .wrap {
        width: 500vw;
        position: relative;
        right:0vw; // ДЛЯ СЛАЙДЕРА
    	img {
            float: left;
            width: 100vw;
            position: absolute;
            top:0;
            user-select:none
        }
        .slide_1 {left:0vw;}
        .slide_2 {left:100vw;}
        .slide_3 {left:200vw;}
        .slide_4 {left:300vw;}
        .slide_5 {left:400vw;}
    }
}
.gallery_navigator {
    position: absolute;
    left:50%;
    transform: translate(-50%,0);
    bottom: 50px;
    .gallery_navigator_item {
        width: 30px;
        height: 30px;
        padding: 0;       
        border: 5px solid $w;
        border-radius: 50%;  
        margin-right: 20px;
        cursor: pointer;
        transition: 0.25s ease-in-out;
        &:hover {
            border: 5px solid rgba(0,183,244,0.5);     
        }
        &:last-child {
            margin-right: 0;
        }
    }
    .navigator_item-active{
        border: 5px solid $light-blue;
    }
}
//Catalog programs
.name-catalog {
    height: 100px;
}

.name-catalog_program {
    background-color: #e9e6dd;
}

.name-catalog_program_text {
    padding: 30px 0 30px 0;
    text-align: center;
    margin: 0;
}

.main-programs_container_programs_1 {
    display: block;
}

.main-programs_container_programs_image {
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 24.4em;
    max-height: 40em;
    height: 40vh;
    width: 50%;
    cursor: default;
    position: relative;
    float: left;
    
}

.main-programs_container_programs_content {
    background-color: #bcbcbc;
    width: 50%;
    display: block;
    float: left;
    min-height: 24.4em;
    max-height: 40em;
    height: 40vh;
    padding: 44px 109px 44px 109px;
    position: relative;
}

.main-programs_header {
    text-align: center;
    margin-bottom: 24px;
}

.main-programs_header_text {
    padding: 0;
    margin: 0;
    //font-family:
    font-weight: bold;
    font-size: 30px;
    color: #3c3c3c;
}

.main-programs_description {
    font-size: 16px;
    //font-family:
    color: #3c3c3c;
}

.main-programs_description_text {
    margin: 0;
    padding: 0;
}

.main-programs_description_text_transfer {
    display: block;
}

.main-programs_button {
    //display: inline-block;
    //width: 248px;
    //height: 50px;
    //border: 5px solid #fff
    position: absolute;
    left: 50%;
    margin-left: -92px;
    height: 66px;
    bottom: 44px;
    z-index: 3;
}

.main-progrms_button_text {
    text-decoration: none;
    color: #fff;
    padding: 16px 45px;
    border: 5px solid #fff;
    //font-family: 
    font-size: 16px;
    text-align: center;
    outline: 0;
    display: inline-block;
    transition: color .5s ease-in-out, border .5s ease-in-out;
    &:hover, &:focus {
        color: #00b7f4;
        text-decoration: none;
        border: 5px solid #00b7f4;
    }
}

@import "media";